<!doctype html>
<html>
  <head>
    <title>LOtR - Administrador</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style/lobby.css" media="screen" />
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script data-main="/admin.js" src="/node_modules/requirejs/require.js"></script>
  </head>
  <body class="main-div" >
        <h3> Pagina de admin</h3>
        <br>
        <p> Editar: <select id="edit-select" style="color : black">
        <option value = "configs"> Configuraciones </option>
        <option value="advices"> Recomendaciones </option>
        <option value="users"> Usuarios </option>
        </select></p>

        <!-- PANEL DE CONFIGS -->
        <div class="row" id="auth-row">
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
            <p> Configuracion por defecto: </p>
            <p><select id="default-select" style="color : black">
            </select></p>
            <button class="btn btn-warning btn-sm" disabled="disabled" id="default-change-button">Guardar configuración por defecto</button>
            <br><br>
            <p> La configuracion por defecto es aquella que se usa por defecto para todas las partidas inciadas en la plataforma. </p>
            <br><br>
            <p> Ver configuracion: </p>
            <p><select id="config-select" style="color : black">
            </select></p>
            <br>
                <p> Seleccione una configuración de la lista para visualizarla y editarla en el panel derecho. Si desea guardarla, hágalo con el botón "Guardar cambios...". </p>
                <br><br>
                <button class="btn btn-warning btn-sm" id="new-config-button">Crear nueva configuración</button>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-6">
            <p> Ver configuracion: </p>
                <textarea id="json-area" cols="100" rows="20" style="color:#58FA82;  width:100%; height:100%; background-color: #4d4d4a">
                </textarea>
                <br><br>
                <button class="btn btn-warning btn-lg" id="config-change-button">Guardar cambios en la configuración</button>
                <br><br>
                 <p>Volver al <a href="/">home</a>.</p>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!-- columna de advices -->

            <div class="row" id="advice-row" style="display : none">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <h3> Agregar recomendacion nueva </h3>
                    <p>Tipo: 
                        <select id="type-select" style="color : black">
                            <option value = "Location"> Escenario </option>
                            <option value="Card"> Carta </option>
                            <option value="Activity"> Actividad </option>
                        </select>
                    </p>
                    <p>Nombre: 
                        <select id="name-select" style="color : black">
                            <option value = "Bag End"> Bag End </option>
                            <option value = "Rivendell"> Rivendell </option>
                            <option value = "Moria"> Moria </option>
                            <option value = "Lothlorien"> Lothlorien </option>
                            <option value = "Helms Deep"> Helm's Deep </option>
                            <option value = "Shelobs Lair">Shelob's Lair </option>
                            <option value = "Mordor">Mordor </option>
                        </select>
                    </p>
                    <p>Texto: 
                        <textarea id="advice_text" style="color:#58FA82;  width:100%; height:100%; background-color: #4d4d4a"> </textarea>
                    </p>
                    <p>Condiciones:</p>
                    <p>
                        <input type="checkbox" id="up-down-check" value="up-down"> Up-Down: 
                        <select id="up-down-comparison" style="color : black">
                            <option value = ">"> Mayor que </option>
                            <option value="<"> Menor que </option>
                            <option value="=="> Igual a </option>
                        </select>
                        <input type="number" name="quantity" id="up-down-value" style="color : black" value="0">
                    </p>
                    <br>
                    <p>
                        <input type="checkbox" id="positive-negative-check" value="positive-negative"> Positive-Negative: 
                        <select id="positive-negative-comparison" style="color : black">
                            <option value = ">"> Mayor que </option>
                            <option value="<"> Menor que </option>
                            <option value="=="> Igual a </option>
                        </select>
                        <input type="number" name="quantity" id="positive-negative-value" style="color : black" value="0">
                    </p> 
                    <br> 
                    <p>
                        <input type="checkbox" id="forward-backward-check" value="forward-backward"> Forward-Backward: 
                        <select id="forward-backward-comparison" style="color : black">
                            <option value = ">"> Mayor que </option>
                            <option value="<"> Menor que </option>
                            <option value="=="> Igual a </option>
                        </select>
                        <input type="number" name="quantity" id="forward-backward-value" style="color : black" value="0">
                    </p>
                    <br>    
                    <button class="btn btn-warning btn-lg" id="save-advice-button">Guardar recomendación</button><br><br>
                    <p> Deben chequearse las checkboxes de las comparaciones que desea que se utilicen. Si se proveen valores inválidos en los campos numéricos de la comparación, irá por defecto un 0. </p>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <p> Ver recomendación: 
                        <select id="advice-selector" style="color : black"> </select>
                    </p>
                    <textarea id="advice-area" cols="100" rows="20" style="color:#58FA82;  width:100%; height:100%; background-color: #4d4d4a">
                    </textarea>
                    <br><br>
                    <button class="btn btn-warning btn-lg" id="advice-change-button">Guardar cambios en la recomendación</button>
                    <br><br>
                    <p>Volver al <a href="/">home</a>.</p>
                </div>
                <div class="col-md-1">
                </div>

            </div>
            <!-- columna de users -->

            <div class="row" id="users-row" style="display : none">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <h3> Lista de usuarios </h3>
                    <p> Ver usuario: 
                        <select id="users-selector" style="color : black"> </select>
                    </p>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    
                    <textarea id="users-area" cols="100" rows="20" style="color:#58FA82;  width:100%; height:100%; background-color: #4d4d4a">
                    </textarea>
                    <br><br>
                    <button class="btn btn-warning btn-lg" id="users-change-button">Guardar cambios en el usuario</button>
                    <br><br>
                    <p>Volver al <a href="/">home</a>.</p>
                </div>
                <div class="col-md-1">
                </div>

            </div>
    </body>
</html>