<!doctype html>
<html>
  <head>
    <title>LOtR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="./style/lobby.css" media="screen" />
    
    <script data-main="/client.js" src="/node_modules/requirejs/require.js"></script>
  </head>
  <body class="main-div">

      <!-- LOBBY -->
      <div class="row" id="main-lobby-div">
          <h1> LotR Lobby</h1>
          <h2 id="username-header"> </h2>
          <br> 
          
          <div class="col-md-4">
          </div>
          <div class="col-md-4" >
              <h3> Usuarios conectados </h3>
              <div class = "client-list-div">
                <ul id="connected-list"  class="list-group client-list">
                </ul>
              </div>
              <br>
              <button type="button" class="btn btn-primary" id="ready-button">¡Estoy listo!</button>
          </div>
          
          <div class="col-md-4">
          </div>
      </div>
    
      <!-- GAME -->

      <div class="row" id="main-game-div" style="display:none;">

          <div class="col-md-1">

             <!-- LISTA DE JUGADORES -->
             <div id="player-list-div">
              </div>
             
          </div>

          
          <div class="col-md-8">
              <div class="row jumbotron main-container">

                  <div class="col-md-2">

                        <!-- CARTAS DE GANDALF -->
                        <div class="board-element-div" id="mage-cards-div">
                                <h4> Cartas de mago </h4>
                                <img src="./assets/img/images2/GANDALF CARD.png" class="img-responsive token-img" title="Cartas de mago">
                                <br>
                                <h4> 5 </h4>
                        </div>
                        <br>

                        <!-- TILES -->
                        <div class="board-element-div" id="story-tiles-div">
                                <img src="./assets/img/images2/TILE CARD.png" alt="Tiles de historia" class="img-responsive token-img" title="Tiles de eventos">
                                <br><br>
                                <button type="button" class="btn btn-success" disabled="disabled" id="draw-tile-button">Sacar tile</button>
                        </div>

                        <br>
                         <!-- RUNAS DE GANDALF -->
                        <div class="board-element-div" id="mage-runes-div">
                                <h4> Runas de mago </h4>
                                <img src="./assets/img/ripped/rune.png" class="img-responsive token-img" title="Runas de mago">
                                <h4>   8 </h4>
                        </div>

                        
                        <br>
                        <!-- DADO -->
                        <div class="board-element-div" id="threat-die-div">
                            <img src="./assets/img/ripped/threat_die.png" alt="Dado de amenaza" class="img-responsive token-img" title="Dado de amenaza">
                            <br><br>
                            <button type="button" class="btn btn-success" disabled="disabled" id="roll-dice-button">Lanzar</button>
                        </div>

                  </div>

                 <!-- TABLEROS -->
                  <div class="col-md-10">
                    <center>
                      <div class="" style="overflow-x:auto;">
                          <div id="master-board-img-container">
                              <img src="./assets/img/ripped/MasterBoard.jpg" alt="Tablero maestro" class="master-board-img" title="Tablero maestro">
                          </div>
                          <br>
                          <div id="location-board-img-container">
                              <img src="./assets/img/ripped/MoriaBoard.jpg" alt="Tablero maestro" class="location-board-img" title="Tablero de locación">
                          </div>
                      </div>
                    </center>  
                  </div>
                </div>

                <!-- CARTAS -->
                <div class= "row" id="player-cards-container">
                      
                </div>

          </div>
        
        <div class="col-md-3">
            <!--CHAT-->

             <div class="chat-div">
                 <div class="chat-title-div">
                     <h4> Chat </h4>
                  </div>

                  <div class="chat-messages-div" id="chat-msg-div">

                  </div>
              </div>

              <br>
              <input type="text" class="form-control" style="margin-left:5px" id="chat-input">
        </div>
      </div>

 <!-- POPUS Y COSAS QUE NO SE MUESTRAN AL PRINCIPIO -->

<div id= "popups" style="display:none">
      <div id="dialog" title="Evento: Gandalf">
        <p>Se reparte a cada jugador 6 cartas de Hobbit del mazo.</p>
        <button id="popup-ok-button"> Ok </button>
      </div>
      <div id="die-div" title="Evento: Gandalf">
      </div>
</div>
  </body>



 


</html>